<form method="post" action="">

   <div class="form-group">
    <label for="my-input">Cedula</label>
    <input id="my-input" class="form-control" type="text" name="cedula">
   </div>

   <div class="form-group">
    <label for="my-input">Nombres</label>
    <input id="my-input" class="form-control" type="text" name="nombres">
   </div>

   <div class="form-group">
    <label for="my-input">Apellidos</label>
    <input id="my-input" class="form-control" type="text" name="apellidos">
   </div>

   <div class="form-group">
    <label for="my-input">Correo</label>
    <input id="my-input" class="form-control" type="text" name="correo">
   </div>
    
   <div class="form-group">
    <label for="my-input">Telefono</label>
    <input id="my-input" class="form-control" type="text" name="telefono">
   </div>

<button class="btn btn-primary" type="submit">GUARDAR</button>


</form>